extends layout

block content
  form(class="article_form" action="" name="form")
    input(type="text" name="title" value="" placeholder="TITLE")
    input(type="submit" name="submit" class="form-container__btn" value="Отправить")
  p(class="article_box")
  script(src='/javascripts/main2.js')